<div class="project-form">
     <%= form_for @project, :url => {action: :update } , :html => { :multipart => true,  :method => :put } do |form| %>

             <%= form.label :title, "Title" %>
             <%= form.text_field :title %>

             <%= form.label :url, "URL" %>
             <%= form.text_field :url %>

             <%= form.label :headline, "Headline" %>
             <%= form.text_field :headline %>

             <%= form.label :body, "Body" %>
             <%= form.text_area :body %>

             <%= form.label :partner, "Partner" %>
             <%= form.text_field :partner %>

             <%= form.label :excerpt, "Excerpt" %>
             <%= form.text_field :excerpt %>

             <%= form.label :client, "Client" %>
             <%= form.text_field :client %>

             <%= form.label :agency, "Agency" %>
             <%= form.text_field :agency %>

             <%= form.label :tag, "Tag"%>
             <%= form.text_field :tag %>

             <%= form.label :label, "Main Image" %>
             <%= form.file_field :main_image %>

             <%= form.label :label, "Thumbnail Large" %>
             <%= form.file_field :thumbnail_lrg %>

             <%= form.label :label, "Thumbnail Small" %>
             <%= form.file_field :thumbnail_smcategory %>

             <%= form.submit "Edit" %>


             <% end %>

</div>